# Windows
Thumbs.db

# IDEs
.idea/
.vscode/

# Node dependencies
node_modules/

# WordPress debug log
wp-content/debug.log

# Temporary build/test files
tmp-*

# Generated CSS source maps
*.css.map


